body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f7f7f7;
}

::selection {
  background: #16d3cb !important;
}
::-moz-selection {
  background: #16d3cb !important;
}

.site-content {
  flex: 1;
}

/* Set width of main container */

.ui.container {
    max-width: 900px !important;
}

@media screen and (max-width: 768px){
    .tablet-hide { display: none !important; }
}

@media screen and (min-width: 768px){
    .tablet-show { display: none !important; }
}

@media screen and (max-width: 650px){
    .mobile-hide { display: none !important; }
}

@media screen and (min-width: 650px){
    .mobile-show { display: none !important; }
}


.logo {
  font-size: 32px;
  color: #00b5ad;
  font-family: "Paytone One", Arial;
  line-height: normal !important;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 1px #ddd;
}


@media screen and (max-width: 480px){
  .logo.big {
    font-size: 44px;
  }
  .logo {
    font-size: 30px;
    line-height: 44px !important;
  }
  .bydeniskrumko {
      font-size: 10px;
      left: 112px;
      top: -53px;
      position: relative;
      color: #36aaa4;
  }
}

@media screen and (min-width: 480px){
  .logo.big {
    font-size: 64px;
  }
  .logo {
    font-size: 32px;
  }
  .bydeniskrumko {
      font-size: 10px;
      left: 180px;
      top: -71px;
      position: relative;
      color: #36aaa4;
  }
}



.logo:hover {
  color: #009c95;
}

.ui.button {
  transition: all 0.2s ease;
  box-shadow: 0 3px #999 !important;
}

.ui.button:active {
  box-shadow: 0 1px #999 !important;
  transform: translateY(2px);
}

.ui.button.teal {
  box-shadow: 0 3px #097a75 !important;
}

.ui.button.teal.wide {
  width: 200px;
}

.ui.button.teal:active {
  box-shadow: 0 1px #097a75 !important;
  transform: translateY(2px);
}

#menu {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 6px;
}

.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 900px;
  min-height: 500px;
  padding: 24px;
  position: relative;
  width: 95%;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -1px;
  top: 2px;
  transform: rotate(-1.3deg);
}
.letter:after {
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(0.9deg);
}








.noselect {
   cursor: default;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
}

.noselect:focus {
   outline: none;
}



.fullwidth {
  width: 100% !important;
}

.default-form {
  max-width: 350px !important;
  margin: auto;
  padding: 20px 30px;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 0px 1px #ccc;
}

.cal-single-day:hover {
  cursor: pointer;
}
