body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #21252B;
  color: #ABB2C0;
}

::selection {
  background: #16d3cb !important;
}
::-moz-selection {
  background: #16d3cb !important;
}

.site-content {
  flex: 1;
}

/* Set width of main container */

.ui.container {
    max-width: 900px !important;
}

@media screen and (max-width: 768px){
    .tablet-hide { display: none !important; }
}

@media screen and (min-width: 768px){
    .tablet-show { display: none !important; }
}

@media screen and (max-width: 650px){
    .mobile-hide { display: none !important; }
}

@media screen and (min-width: 650px){
    .mobile-show { display: none !important; }
}

.index-box {
  min-height: 500px !important;
  transition: width 0.7s ease;
}

@media (min-width: 1281px) {

  .index-box { width: 800px !important;}

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .index-box { width: 700px !important;}

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .index-box { width: 600px !important;}

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .index-box { width: 600px !important;}

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .index-box { width: 450px !important;}

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

.save-button {
  margin-left: 30px;
}

@media (min-width: 320px) and (max-width: 480px) {

  .index-box { width: 300px !important;}
  #note {
    font-size: 22px !important;
  }
  .box {
    padding: 15px !important;
  }
  .last-days a {
    display: block !important;
    margin-bottom: 15px !important;
  }
  .entry-container {
    padding: 30px 15px !important;
    margin-bottom: 0px !important;
  }
  .entry-edit, .entry-date {
    font-size: 22px !important;
  }
  .save-button {
    margin-left: 0px;
  }
  .save-button input {
    width: 100%;
  }

}

.logo {
  font-size: 32px;
  color: #00b5ad;
  font-family: "Paytone One", Arial;
  line-height: normal !important;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 1px #333;
}


@media screen and (max-width: 480px){
  .logo.big {
    font-size: 44px;
  }
  .logo {
    font-size: 30px;
    line-height: 44px !important;
  }
  .bydeniskrumko {
      font-size: 10px;
      left: 112px;
      top: -53px;
      position: relative;
      color: #36aaa4;
  }
}

@media screen and (min-width: 480px){
  .logo.big {
    font-size: 64px;
  }
  .logo {
    font-size: 32px;
  }
  .bydeniskrumko {
      font-size: 10px;
      left: 180px;
      top: -71px;
      position: relative;
      color: #36aaa4;
  }
}

h3, p {
  color: #ABB2C0;
}

.ui.form .field input {
  background: #21252B !important;
  color: #ABB2C0 !important;
}

.logo:hover {
  color: #009c95;
}

.ui.button {
  transition: all 0.2s ease;
  box-shadow: 0 3px #999 !important;
  color: #21252B !important;
  background: #717885;
}

.ui.button:active {
  box-shadow: 0 1px #999 !important;
  transform: translateY(2px);
}

.ui.button.teal {
  box-shadow: 0 3px #097a75 !important;
}

.ui.button.teal:active {
  box-shadow: 0 1px #097a75 !important;
  transform: translateY(2px);
}

#menu {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 6px;
}

.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 900px;
  min-height: 500px;
  padding: 24px;
  position: relative;
  width: 95%;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -1px;
  top: 2px;
  transform: rotate(-1.3deg);
}
.letter:after {
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(0.9deg);
}


.box {
	width:98%;
  min-height: 850px;
	background:#282C34;
	margin:40px auto;
  box-shadow: 0px 0px 1px #000;
  padding: 30px;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #999;
  box-shadow: 0 15px 10px #000;
  transform: rotate(-2deg);
}
.effect2:after
{
  transform: rotate(2deg);
  right: 10px;
  left: auto;
}

#note {
  font-family: "Caveat", Arial;
  font-size: 26px;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  resize: none;
  width: 100%;
  height: 100%;
  caret-color: #00aa8d;
  background-color: transparent;
  color: #ABB2C0;
}

::-webkit-input-placeholder {color:#19908b;}
::-moz-placeholder          {color:#19908b;}/* Firefox 19+ */
:-moz-placeholder           {color:#19908b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#19908b;}

.noselect:focus {
   outline: none;
}

#note-date {
  font-family: "Caveat", Arial;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  border-style: none;
  width: 100%;
  background-color: transparent;
  caret-color: #00aa8d;
  color: #00B5AD;

}

.fullwidth {
  width: 100% !important;
}

.default-form {
  max-width: 350px !important;
  margin: auto;
  padding: 20px 30px;
  background: #282C34;
  border-radius: 6px;
  box-shadow: 0px 0px 1px #000;
}

.ui.form .field>label {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: #00B5AD;
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.ui.menu .item {
    color: #ABB2C0 !important;
}

.ui.selection.dropdown {
  background: transparent !important;
  border: 1px solid #ABB2C0 !important;
  color:  #ABB2C0;
}

.ui.selection.visible.dropdown>.text:not(.default) {
    font-weight: 400;
    color:  #ABB2C0;
}

.ui.dropdown .menu>.item {
  background: #22262c;
  color: #ABB2C0;
}

.ui.dropdown .menu>.item:hover {
    background: #02b0a8;
    color: black;
    z-index: 13;
}

.ui.selection.dropdown .menu>.item {
  border-top: 1px solid #292c34;
}

.ui.dropdown .menu .selected.item, .ui.dropdown.selected {
    background: #22262c;
    color: #00B5AD;
}

.prevnext {
  color: #00b6ad;
}

.cal-single-day:hover {
  font-weight: bold !important;
}

.message {
  background: transparent !important;
}

.ui.attached.positive.message, .ui.positive.message {
  box-shadow: 0px 0px 4px #00B5AD !important;
  color: #00B5AD;
}


.ui.positive.message .header {
  color: #00B5AD;
}

.ui.input input {
  background: #282C34 !important;
  color: #ABB2C1 !important;
}

.ui.menu .ui.dropdown .menu>.item {
  background: #282C34 !important;
  color: #ABB2C0 !important;
}

.ui.menu .ui.dropdown .menu>.item:hover {
  background: #282C34 !important;
  color: #00B5AD !important;
}

.ui.menu .dropdown.item .menu {
  background: #282C34 !important;
}

.ui.dropdown .menu {
  background: #282C34 !important;
}

.ui.dropdown .menu>.divider {
  background: #484e5e !important;
}

.ui.dropdown .menu>.header {
  color: #00B5AD !important;
}
