/* NAVIGATION ARROW */

.navigation-arrow {
  transition: all 0.3s ease;
  color: #ABB2C1;
}

.navigation-arrow:hover {
  transform: scale(1.3);
}

/* EDIT BUTTON */

.edit-icon {
  float: right;
  font-size: 20px !important;
  color: #ABB2C1;
  transition: all 0.3s ease;
}

.edit-icon:hover {
  color: #00B5AD;
}
.edit-link {
  text-align: center;
  height: 100px;
}

.edit-link a {
  margin-top: 30px !important;
}

/* ENTRY PREVIEW */

.entry p {
  line-height: 1.15em !important;
  margin-bottom: 0em !important;
}

.mini-icon {
  font-size: 20px !important;
}

.mini-header {
  font-family: "Caveat", Arial !important;
  font-size: 20px !important;
  margin-top: 0px !important;
}

/* ARROW BUTTON */

.arrow-button {
  border: 1px solid #676a71;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.arrow-button-left {
  padding-left: 3px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.arrow-button-right {
  padding-left: 4px;
  padding-right: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.highlighted{
  background-color: #00B5AD;
  color: #21252B;
  border-color: #00B5AD;
}

.arrow-buttons-block {
  text-align: center;
  color: #676a71;
  font-size: 12px;
}
