{% extends "base.html" %}

{# JS #}
{% block extrajs %}
<script type="text/javascript">
$(function() {

  autosize($('textarea'));

  $( "#note" ).focus();

  $('.box').click(function () {
    $( "#note" ).focus();
  });

  $("#note-date").click(function (event) {
    // show delete dialog for $(this).closest(".server")
    event.stopPropagation();
});

  $('.ui.dropdown')
    .dropdown()
  ;

  $('.ui.sticky')
    .sticky({
      context: '#notebox',
      offset: 120,
    })
  ;

  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;

});

</script>
{% endblock %}

{% block content %}

{% for error in errors %}
<div class="ui negative message">
<i class="close icon"></i>
{{ error }}
</div>
{% endfor %}

{# <a href="/diary/date-{{ next_date }}">NEXT</a> #}


<form class="" action="/diary/date-{{ note_date|date:'Y-m-d' }}/" method="post">
  {% csrf_token %}
  <div class="box effect2" id="notebox">
    {% if prev_date %}
    <div class="ui left rail" style="padding-right: 0px;">
      <div class="ui sticky" style="float: right;">
        <a href="/diary/date-{{ prev_date|date:'Y-m-d' }}">
          <i class="chevron left icon prevnext"></i>
        </a>
      </div>
    </div>
    {% endif %}
    {% if next_date %}
    <div class="ui right rail" style="padding-left: 0px;">
      <div class="ui sticky prevnext" style="float: left; ">
        <a href="/diary/date-{{ next_date|date:'Y-m-d' }}">
          <i class="chevron right icon prevnext"></i>
        </a>
      </div>
    </div>
    {% endif %}
    <input id="note-date" class="noselect" type="text" value="{{ note_date|date:'F d, Y (l)' }}" name="date" readonly>
    <textarea id="note" class="noselect" placeholder="Введите текст" name="text">{{ text }}</textarea>
  </div>
  <br>
  <div style="margin-left: 30px;">
    <input type="submit" name="" value="Save" class="ui button teal wide">
  </div>
  <br>
  <br>
  <br>
  <br>
</form>
{% endblock %}
