{% extends "base.html" %}

{% load static %}

{# CSS #}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/entry_base.css' %}">
{% endblock %}

{% block body %}
<div class="container">
<br>
<br>
<br>
<div class="">
  <div class="logo-block" style="text-align: center;">
    <div class="logo big noselect">
      Django Diary
    </div>
    <div class="bydeniskrumko">
      by Denis Krumko
    </div>
  </div>
  <br>
  <br>

  {% if request.user.is_authenticated %}
    <div class="row" style="text-align: center;">
      <a href="{% url 'diary:current-day' %}" class="ui button teal">Сегодня</a>
      <span style="padding: 7px 10px;">или</span>
      <a href="{% url 'diary:calendar' %}" class="ui button teal">Календарь</a>
    </div>
  {% else %}
    <div class="row" style="text-align: center;">
      <a href="/login" class="ui button teal">Войти</a>
      <span style="padding: 7px 10px;">или</span>
      <a href="/signup" class="ui button teal">Создать аккаунт</a>
    </div>
  {% endif %}
  <br>
  <div class="entry-container paper-stack-effect index-box">
    <div class="entry">
      <p>Добро пожаловать в ваш сервис для хранения секретов!</p>

      <p>Надеюсь, что этот дневник станет отличным местом для ваших воспоминаний.</p>

      <p>Отличительные особенности этого сервиса:</p>

      <ul>
        <li>Им никто не пользуется, кроме меня</li>
        <li>Здесь нет никакого шифрования</li>
        <li>Можно включить ночную тему в настройках! Круто же!</li>
      </ul>
    </div>
  </div>
</div>

</div>

{% endblock %}
